body{
    text-align: center;
    background-color: #4182ffff;
   color: #fff;
}
h3{
    font-family: 'Oleo Script', cursive;
}
p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
#note{
    border-radius: 7px;
    border-style: dotted;
}
#home{
    background-color: #4182ffff;
}
h1{
    font-family: 'Cinzel Decorative', cursive;
    border-radius: 8px;
    border-style: dotted;
}